* {
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
}
.tituloApp{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: rgb(49, 49, 49);
}
.tituloMain {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    margin-bottom: 40px;
}
.showLoginButton{
    width: 100px;
    height: 30px;
    margin: 5px;
}
.input-1{
    width: 80%;
    height: 30px;
}
.input-2{
    width: 200px;
    height: 30px;
}
.boton-1{
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    border-radius: 4px;
    margin-top: 5px;
}
.boton-2{
    padding: 15px 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    border-radius: 4px;
    margin-top: 5px;
}
.boton-flotante{
    position: fixed;
    top: 70px;
    right: 20px;
    transition: 0.2s;
}
.boton-flotante:hover {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
}
.select-1{
    margin-left: 10px;
}
@media only screen and (min-width: 762px) {
    .tituloApp{
        font-size: 18px;
    }
    .tituloMain {
        font-size: 18px;
    }
    .boton-flotante{
        top: 20px;
    }
}